@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F0F0F0; /* very light gray */
    --foreground: #0f0f0f; /* almost black */
    --card: #ffffff; /* pure white */
    --card-foreground: #0f0f0f; /* almost black */
    --popover: #ffffff; /* pure white */
    --popover-foreground: #0f0f0f; /* almost black */

    --primary: #1A1A1A; /* very dark gray (near black) */
    --primary-foreground: #F5F5F5; /* almost white */

    --secondary: #EDEDED; /* very light gray */
    --secondary-foreground: #1A1A1A; /* very dark gray */

    --muted: #D1D1D1; /* very light gray */
    --muted-foreground: #A0A0A0; /* medium gray */

    --accent: #E11D48; /* very light gray */
    --accent-foreground: #F5F5F5; /* very dark gray */

    --destructive: #C1121F; /* strong red */
    --destructive-foreground: #F5F5F5; /* almost white */

    --border: #CFCFCF; /* light gray border */
    --input: #CFCFCF; /* light gray input background/border */

    --ring: #0F0F0F; /* almost black focus ring */

    --chart-1: #C1121F; /* orange-red */
    --chart-2: #E11D48; /* teal / greenish cyan */
    --chart-3: #FF4D4D; /* dark desaturated blue */
    --chart-4: #FF6969; /* warm yellow */ 
    --chart-5: #FF8888; /* bright orange */

    --success: #16bf48;

    --radius: 0.5rem; /* border radius */
  }

  .dark {
    --background: #0F0F0F; /* near black */
    --foreground: #F5F5F5; /* almost white */

    --card: #0F0F0F; /* almost black */
    --card-foreground: #F5F5F5; /* almost white */

    --popover: #0F0F0F; /* almost black */
    --popover-foreground: #F5F5F5; /* almost white */

    --primary: #F5F5F5; /* almost white */
    --primary-foreground: #1A1A1A; /* very dark gray */

    --secondary: #2A2A2A; /* dark gray */
    --secondary-foreground: #F5F5F5; /* almost white */

    --muted: #2A2A2A; /* dark gray */
    --muted-foreground: ##EDEDED; /* light gray */

    --accent: #E11D48; /* dark gray */
    --accent-foreground: #F5F5F5; /* almost white */

    --destructive: #C1121F; /* dark red */
    --destructive-foreground: #F5F5F5; /* almost white */

    --border: #2A2A2A; /* dark gray border */
    --input: #2A2A2A; /* dark gray input */

    --ring: ##EDEDED; /* light gray focus ring */

    --chart-1: #C1121F; /* orange-red */
    --chart-2: #E11D48; /* teal / greenish cyan */
    --chart-3: #FF4D4D; /* dark desaturated blue */
    --chart-4: #FF6969; /* warm yellow */ 
    --chart-5: #FF8888; /* bright orange */

    --success: #16bf48;
  }
}

@layer base {
  * {
    @apply border-border;
    transition: all ease-in-out 100ms
  }
  body {
    @apply bg-background text-foreground;
  }
}
